* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: #fff;
    
    outline: 1px solid white;
  }

  .main-container {
      background-color: #334867;
      height: 400px;
      width: 800px;
      display: flex;
      margin: 0 auto;
  }

  .container {
      display: flex;
      flex-wrap: wrap;
      flex: 1;
  }

  .item-right {
    display: flex;
    justify-content: center;
    flex: 1 0 50%;
    flex-direction: row;
    align-items: center;
    
  }

  .item-left {
    display: flex;
    justify-content: center;
    flex: 1 0 33.33%;
    flex-direction: row;
    align-items: center;
  }

